<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Ascendon" value="http://bambi-artifacts.cddev.tv/service/local/nuget/ascendon.nuget/" />
  </packageSources> 
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
